#query {
  display: inline;
}

// Responsive table
.table {
  max-width: 100%;
  overflow-x: auto;
  margin-bottom: 2em;

  table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    text-align: left;
  }

  thead {
    font-weight: bold;
    color: $primaryText;
    background: $primary;
    border: 1px solid $primary;
  }

  tbody {
    color: #606060;
    border: 1px solid #e0e0e0;

    tr:nth-child(even) {
      background: rgba($secondary, .1);
    }
  }

  td,
  th {
    padding: 0.8em 0.5em 0.8em 2.5em;
    text-align: left;

    &:last-of-type {
      padding-right: 2.5em;
    }

    &.right {
      text-align: right;
    }
  }

  td {
    a {
      text-decoration: none;
    }
  }

  tr.clickable {
    cursor: pointer;
  }
}

// Form and inputs
select {
  height: 2.5rem;
}

label {
  display: block;
  font-weight: bold;
}

form {
  padding: 0 1em;

  @media screen and (max-width: 720px) {
    input {
      width: 100%;
    }
  }
}
