@import 'modules/figure';

* {
  box-sizing: border-box;
}

html {
  overflow: hidden scroll;
  color: #000;
  background-color: #dae3e7;
  line-height: 1.15;
}

body {
  font: 16px/1.5 Helvetica, Verdana, Arial, sans-serif;

  max-width: $maxContentWidth;
  background-color: #fff;
  padding: 0;
  margin: 0 auto;
  box-shadow: 0 0 6px 3px rgba(0, 0, 0, .2);
}

a {
  color: $primary;

  &:visited {
    color: $secondary;
  }

  &:hover {
    color: darken($secondary, 10%);
  }
}

main {
  padding: 0 2em 3em;

  img {
    display: block;
    width: 100%;
  }
}

pre {
  background: #eee;
  color: #333;
  padding: 1em;
}

// Enable figure module
figure.figure {
  @include desinax-figure($maxContentWidth);
}

figure.asciinema {
  @include desinax-asciinema($maxContentWidth);
}

figure.codepen,
figure.figure-codepen {
  @include desinax-codepen($maxContentWidth);
}
