@import 'layout/header';
@import 'layout/footer';
@import 'layout/form';
@import 'layout/weather';

main {
  min-height: 500px;

  &.has-sidebar {
    &-right {
      display: grid;
      grid-template-columns: auto 250px;
      grid-gap: 1em;
    }

    &-left {
      display: grid;
      grid-template-columns: 250px auto;
      grid-gap: 1em;

      &.has-sidebar-right {
        grid-template-columns: 250px auto 250px;
      }
    }

    @media screen and (max-width: 720px) {
      &-right,
      &-left {
        grid-template-columns: 1fr;
      }
    }
  }
}

.region-sidebar {
  position: sticky;
  top: 1em;

  .wrapper {
    position: sticky;
    top: 1em;
  }

  h4 {
    background: $primary;
    color: $primaryText;
    padding: 0.2em 1em;
  }
}

.breadcrumb-list {
  ul {
    // Required to remove the ghost spacing between li elements
    display: flex;
  }

  li {
    display: inline;

    &::after {
      content: ">";
      margin: 0 0.5em;
    }
  }
}

.next-previous {
  display: flex;

  .previous {
    flex: 1;
    text-align: left;
    order: 1;
  }

  .next {
    flex: 1;
    text-align: right;
    order: 2;
  }
}

/* Message */
.message {
  display: flex;
  flex-direction: row;
  margin: 1em 2em;
  border-radius: 0.3rem;
  box-shadow: 0 3px 6px 1px rgba(0, 0, 0, .5);

  @extend %fa-icon;
  @extend .fas;

  &::before {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    font-size: 2rem;
    padding: 0.5em;
    width: 1.5em;
    border-radius: 0.3rem 0 0 0.3rem;
  }

  &.ok {
    color: #94d82d;
    background: #f5fbea;

    &::before {
      content: fa-content($fa-var-thumbs-down);
      transform: rotate(0.5turn);
    }
  }

  &.warn {
    color: #ff922b;
    background: #fff4ea;

    &::before {
      content: fa-content($fa-var-exclamation-triangle);
    }
  }

  &.err {
    color: #be2320;
    background: #ffeaea;

    &::before {
      content: fa-content($fa-var-times-circle);
    }
  }

  .content {
    padding: 1rem;
    color: rgba(0, 0, 0, 0.7);
    font-family: Helvetica, Verdana, Arial, sans-serif;
    font-size: 1.1em;
    font-weight: bold;
  }
}
