/*!
 * Default theme for website.
 */

// Theme variables
$primary: #37474f;
$primaryText: #fff;
$secondary: #d81b60;
$secondaryText: #fff;
$background: #dae3e7;
$footerColumns: 2;

@import '../vendor/faxity/anax-layout/theme/theme';
